body{
    background-imageï¼šurl('../images/baidu.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #CCCCCC;
}
